.nav {
  margin-bottom: 2rem;
}

.nav ul {
  gap: 20px;
  display: flex;
  list-style: none;
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  background-color: #eee;
  color: black;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  border-radius: 4px;
}

.nav-item.active {
  background-color: #ddd;
}
