.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.link-item {
  text-decoration: none;
}

.produto-foto {
  border-radius: 8px;
  margin-bottom: 0.275rem;
}

.produto-title {
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
