* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-top: 2rem;
}

img {
  width: 100%;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  min-height: 100vh;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}

div.spinner {
  width: 50px;
  height: 50px;
  border-top: 10px inset transparent;
  border-left: 10px outset black;
  border-radius: 50%;
  background-color: transparent;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}